.leaderboard {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 100px;
    /* padding: 32px 32px; */
    background-color: #111827;
    border-radius: 16px;
}

.cover-image-container {
    position: relative;
}

#cover-image {
    object-fit: cover;  
    width: 100%;
    height: 300px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.rankings{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.cover-image-container button {
    cursor: pointer;
    font-size: 16px;
    border-radius: 32px;
    font-weight: bold;
    background-color: gold;
    color: white;
    padding: 10px 25px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.rankings img{
    height: 40px;
}

.ranking-table {
    padding: 5px 26px 26px 26px;
}

.header-row {
    display: grid;
    padding: 10px 10px 10px 10px;
    grid-template-columns: 0.6fr 1fr 1fr 1fr 1fr 0.3fr;
    align-items: center;
    opacity: 0.7;
}



.leaderboard-row {
    display: grid;
    padding: 10px 10px 10px 10px;
    background-color: #1f2937;
    grid-template-columns: 0.6fr 1fr 1fr 1fr 1fr 0.3fr;
    margin-bottom: 10px;
    align-items: center;
}

.leaderboard-row .username {
    font-weight: bold;
}

.leaderboard-row .duration {
    opacity: 0.8;
}


#easy {
    color: rgb(109, 170, 109);
}

#hard {
    color: red;
}

#medium {
    color: goldenrod
}



.leaderboard-row .accuracy {
    display: flex;
    align-self: center;
    gap: 5px;
}
.leaderboard-row .accuracy img {
    height: 20px;
}

.leaderboard-row .accuracy {
    font-size: 18px;
    color: rgb(16, 185, 129);
}
.leaderboard-row .WPM {
    color: gold;
    font-size: 24px;
    font-weight: bold;
}


.user-span:hover {
    text-decoration: underline;
}

.leaderboard-row .username {
    display: flex;
    align-items: center;
    gap: 10px;
}

.leaderboard-row .username img{
    object-fit: cover;
    height: 30px;
    width: 40px;
    border-radius: 10px;
}

.leaderboard-row .username span {
    cursor: pointer;
}

